<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
		
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Basado en tu última visita</h2>
					</div>
					<!-- Show the "visited" products -->
					<% products.forEach(({id, name, price, discount, category, description, image}) => { %>
					 <%- include('./partials/article',{
						id,
						name,
						price,
						discount,
						category,
						description,
						image,
					 }) %> 
					<% }) %>
				</div>
			</div>
		
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>